.image-container {
    position: relative;
    overflow: hidden;
    height: 350px;
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.overlay a:hover {
    color: #0d6efd;
}